@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@700&family=Noto+Sans:wght@400;500;700&family=Open+Sans&family=Poppins:wght@500;600;700&family=Roboto+Slab&display=swap');
*, *:after, *:before {

    padding: 0;
    margin: 0;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    /* добавим плавность переходов для всех элементов страницы*/
  }
  body{
    background: #E1EBFA;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
img {
  vertical-align: top;
}
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    outline: none;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* стилевой класс, который управляет шириной контейнера сетки*/
  .cont {
    margin: 0 auto;
    width: 100%;
    padding: 0 4px;
    max-width: 1410px;
  }
  
  header {
    width: 100%;
    padding: 5px 0;
    position: relative;
  }
  







  header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #menu {
    float: right;
  }
  
  #menu li {
    display: inline-block;
    margin-right: 60px;
  }
  
  #menu a:hover {
    color: #ffffff;
  }
  
  #menu li:last-child {
    margin-right: 30px;
  }
  
  #menu .Learn {
    margin-left: 0;
  }
  
  #menu.active {
    max-height: 164px;
    width: 100%;
  }
  .nav-toggle {
  display: none;
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav-toggle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 19px;
  left: -56px;
  right: 8px;
  height: 4px;
  background: #4397A4;
  border-radius: 5px;
}

.nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background: #4397A4;
  border-radius: 5px;
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

/* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/
#menu.active {
  max-height: 364px;
  width: 100%;
}









/*header----------------------------------------------------*/
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 16px;
}
.logotip{

  display: flex;

}
a{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
color: #678C92;
}
.logo{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 44px;
color: #486A6F;
margin-top: 13%;
margin-left: -20%;
}
.Need{
  border: none;
  background: linear-gradient(104.26deg, rgba(67, 151, 164, 0.2) 0.88%, rgba(91, 204, 222, 0.2) 99.89%), #4397A4;
border-radius: 5px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #F4F7FF;
width: 169px;
height: 42px;
}
  /*one------------------------------------------------------------------------------*/
  .fon{
    background: center / cover no-repeat url("https://ereana.github.io/grid.github.io/img/background.png") ;
    height: 900px;
  }
  .levo{
    margin-left: 2%;
    padding-right: 4%;
  }
  .one{
  
    display: flex;
  } 
  .services{
    margin-right: 2%;
  }
  .develop{
    
font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 5vw;
line-height: 72px;
background: linear-gradient(104.24deg, rgba(72, 106, 111, 0.2) 42.78%, rgba(91, 204, 222, 0.2) 91.91%), #486A6F;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
padding-bottom: 5%;
}
.pravo{
display: grid;
grid-template-columns: repeat(26, 1fr);
grid-template-rows: repeat(15, 1fr);
row-gap: 2px;
column-gap: 2px;
width: 630px;
height: 630px;
margin-right: 2%;
}
.onef{
  background: center/ cover no-repeat url("https://ereana.github.io/grid.github.io/img/Rectangle 613.png");
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 7;
}
.tuf{
  background: center/ cover no-repeat url("https://ereana.github.io/grid.github.io/img/Rectangle 610.png");
  grid-column-start: 10;
  grid-column-end: 21;
  grid-row-start: 1;
  grid-row-end: 7;
}
.tuff{
  background: center/ cover no-repeat url("https://ereana.github.io/grid.github.io/img/Rectangle 612.png");
  grid-column-start: 22;
  grid-column-end: 30;
  grid-row-start: 4;
  grid-row-end: 7;
}
.threef{
  background: center/ cover no-repeat url("https://ereana.github.io/grid.github.io/img/Rectangle 609.png");
  grid-column-start: 1;
  grid-column-end: 16;
  grid-row-start: 8;
  grid-row-end: 16;
}
.fourf{
  background: center/ cover no-repeat url("https://ereana.github.io/grid.github.io/img/Rectangle 608.png");
  grid-column-start: 17;
  grid-column-end: 25;
  grid-row-start: 8;
  grid-row-end: 13;
}
  .forv{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 2svw;
line-height: 36px;
color: #678C92;
  }
.knopki{
  padding-top: 8%;
  display: flex;
} 
.services{
  border: none;
  width: 118px;
height: 61px;
background: linear-gradient(104.26deg, rgba(67, 151, 164, 0.2) 0.88%, rgba(91, 204, 222, 0.2) 99.89%), #4397A4;
box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
border-radius: 5px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #F4F7FF;
}
.about{
  border: none;
  width: 257px;
height: 61px;
background: #C6DBFF;
border-radius: 5px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #486A6F;
}





/*two---------------------------------------------------------*/
.c1,.c2,.c3,.c4,.c5,.c6{
  width: 100%;
  height: 100%;
}
.two{
padding-top: 8%;
padding-bottom: 5%;
padding: 80px 0;
}
.foto{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 28px;
}
.soc{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
color: #5BCCDE;
}
.on{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #486A6F;
  padding-bottom: 2%;
}




/*three--------------------------------------------------------*/

.three{
display: flex;
padding-bottom: 4%;
padding-top: 4%;
background: linear-gradient(84.81deg, rgba(72, 106, 111, 0.2) 0%, rgba(67, 151, 164, 0.2) 100%), #486A6F;
}
.bu{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 44px;
color: #F4F7FF;
}
.devel{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
padding-top: 18%;
line-height: 32px;
color: #F4F7FF;
}
.socseti{
  display: flex;
  padding-top: 16%;
}
.about1{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
color: #F4F7FF;
}
.ser{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
color: #F4F7FF;
}
.get{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
color: #F4F7FF;
}
.nomer{
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
color: #F4F7FF;
}
.lev{
  padding-left: 4%;
}
.middle{
  padding-left: 8%;
}
.inst{
  padding-right: 2%;
}
.middle2{
  padding-left: 10%;
}
.prav{
  padding-left: 10%;
}


@media (max-width:1040px) {

.knopki{
   flex-direction: column;
  align-items: center;
}
.services{
  margin-bottom: 4%;
}
.pravo{
display: none;
}
.one,.two{
flex-direction: column;
align-items: center;
text-align: center; 
padding-left: 0; 
}  
.fon{
height: 600px;
}
 /* показываем кнопку для переключения верхней навигации */
.nav-toggle {
display: block;
}
header {
padding: 10px 0;
}
 /* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
#menu {
max-height: 0;
background:linear-gradient(42.43deg, #C6DBFF 0%, #E1EBFA 52.25%);
float: none;
position: absolute;
overflow: hidden;
top: 130px;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
  }
  /* делаем элементы списка блочными, чтобы они располагались друг под другом */
  #menu li {
    display: block;
    text-align: center;
    border-bottom: 1px solid #486A6F;
    margin-right: 0;
  }
  /* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
  .posts-list, aside {
    width: 100%;
    float: none;
  }
  .widget-post-title {
    font-size: 1.5em;
  }
  .vvod {
    margin-bottom: 4%;
  }
}


@media (max-width: 800px) {
  .foto{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  .knopki{
    display: flex;
  }
.middle,.middle2,.prav,.lev{
  padding-left: 0;
 } 
.three{
    flex-direction: column;
    align-items: center;
    text-align: center; 
    padding-left: 0; 
 }  
.develop{
    font-size: 4.3vw;
  }
  .services,.about{
    font-size: 14px;
  }
  .forv{
    font-size: 2.5vw;
  }
}
@media (max-width: 600px) {
.develop{
  font-size: 5.4vw;
}
.forv{
  font-size: 4vw;
}

}
